.puntuation{
    color: #88C6BE;
}
.keyword{
    color:#286DD3;
}
.htmlElement{
    color:#FC929E;
}
.htmlAttribute,.js{
    color:#BBA5C5;
}
.jsClass{
    color:#FAC854;
}
.string{
    color:#8DC891;
}
.important-idea{
    color:#6d6d6d;
}
.code-container{
    background-color:#282C34;
    max-width: 516px;
    border-radius: 8px;
    padding:5px 15px;
}
.highlight{
    background-color: #FFFAE0;
}
code{
    color: #FFFFFF;
    line-height: 0px;
}